.navbar {
  height: 68px;
  display: flex;
  align-items: center;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #2196f3;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

a.logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-left: 50px;
  background: none;
  text-shadow: none;
  font-weight: 900;
  text-transform: uppercase;
}