.navbar {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: var(--primary);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  color: var(--white);
}

a.logo {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white);
}

.navLink {
  margin: 0 5px;
  display: inline-block;
}

.navLink a {
  color: var(--white);
}

.navLink a:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}